
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* .font-syle{
    font-family: 'Pacifico', cursive;
}

.font-family{
    font-family: 'Roboto Slab', serif;

    
} */

.bg-img{
 height: 70%;
 width: 50%;
}